body {
    font-family: Arial, sans-serif;
    background-color: #8C8172;
    margin:0;
}
header {
    background-color: #1A69EE;
    color:white;
    padding:20px;
}
nav {
    background-color: #000AF6;
    padding: 15px;
}
nav a {
    color: white;
    margin-right:15px;
    text-decoration: none;
}
.container {
    transition: transform 0,3s ease, box-shadow 0.3s ease; 
    background: #909192;
    width: 20%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
}
img {
    width: 200px;
    border-radius: 10px;
}
.textos {
   background: #909192;
    width: 30%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
}
.amarelo {
    color:yellow;
    padding:20px;
}
.borda {
    background: rgb(146, 146, 145);
    width: 20%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
    align: left;
}
.container:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
        header h1 {
            font-size: 50px;
        }
        .container1 {
    background: gold;
    width: 20%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;

        }
        .container2 {
    background: silver;
    width: 20%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
            
        }
        .container3 {
    
    background: #c45800;
    width: 20%;
    margin: 20px auto;
    padding:20px;
    border-radius: 10px;
            
        }
